/* div.delete-container{
    display: flex;
    align-items: center;
    height: 8em;
    width: 25em;
  }

  strong {
    font-weight: 600;
  }

  .delete-button {
    background: red;
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    min-width: 9em;
    cursor: pointer;
   
  }

  .delete-review-buttonss{
    display:flex;
    flex-direction: row;
  }

*/

  .delete-review-text{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 450;
    margin-bottom: 2.0rem;
  }