.spot-form-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 41em;
    padding: 1.8em;
    width: 35em;
  }
  
  
  .submit-button-edits {
    background: red;
      color: white;
      border: solid .1rem black;
      height: 2.2rem;
      border-radius: .5em;
      width: 34em;
      cursor: pointer;
      padding-bottom: -20px;
   
    }
  
   
    .form-input-description {
    min-width: 35rem;
    
    }
  
    .edit-errors {
      color:#ea1547;
      list-style: none;
      margin-left: -14px;
    }
  
    .edit-form-temp {
      margin-left:2rem;
      margin-bottom: 40px;
      border-color: black;
      color:black;
      /* margin:.4rem; */
    }

    .form-input-bizedit{
    border-color: black;
    color:black;
    border: solid 2px black;
    width: 520px;
    margin: .5rem;
    padding: .5rem;
    }
    
    .select-form-input-bizedit{
    border-color: black;
    color:black;
    border: solid 2px black;
    width: 537px;
    margin: .5rem;
    padding: .5rem;
    }

    