.EntireContainerForUploadForm {
    height: 100%;
    width: 100%;
    
}

.Whole-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header-message {
    /* margin-left: 3rem; */
    /* color: rgb(12, 11, 11); */
    font-weight: 400;
    padding-top: 4rem;
    margin-bottom: -5px;;
}
.business-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */

}



.upload-img-errors-list{
color: red;
padding-top:.3rem;
padding-bottom: .2rem;
}

.all-input-business{
    display:flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px;
    color: black;
    width: 500px;
    border-color: black;
}

.create-business-form{
    display:flex;
    justify-content: column;
    align-items: center;
    flex-direction: row;
}





.business-input-field {
    
    border-color: black;
    color:black;
    width: 535px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    margin: 10px;

}

.business-input-field-select{
    border-color: black;
    color:black;
    border: solid 2px black;
    width: 546px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    margin: 10px;
}
.business-input-field-select:after{
    border-color:black;
    color:black
}
.business-input-field:active {
    border-color: #348fdc;
}



.business-error{
    border: 2px solid rgb(251, 77, 106);
    background-color: rgb(41, 40, 40);
    height:3rem;

    font-weight: 200;
    font-size: 20px;
    color: white;
    margin-left: 65px;
    width: 40rem;
    display:flex;
    justify-content: center;

    padding-top: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.business-bttn{
    padding-top: 20px;
}

.business-submit-button {
    color: white;
    background-color: red;
    border-radius: .4em;
    height: 35px;
    width: 98%;
    margin-left: 20px;
    margin-top: 1rem;
    cursor: pointer;
}

.business-submit-button:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}
.business-submit-button:active {
    transform: scale(.98);
    cursor: pointer;
}