.homepage-container {
  display: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hp-slideShowPic {
  height: 50rem;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.hp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.business-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: solid .2rem  red; */
}


.business-wrapper {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid .2rem blue; */
  /* padding-top: 10rem; */
  width: 45rem;
}

.singleBusinessContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}

.single-image {
  height: 10rem;
  width: 15rem;
}
.business-name-caption {
  margin-left: 7px;
  padding: 4px;
  font-size: 30px;
  font-weight: 550;
}
.business-name-caption:hover {
  text-decoration: underline;
}
.business-captions {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}
