.homepage-container {
  display: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hp-slideShowPic {
  height: 50rem;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.hp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.business-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: solid .2rem  red; */
}


.business-wrapper {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid .2rem blue; */
  /* padding-top: 10rem; */
  width: 45rem;
}

.singleBusinessContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}

.single-image {
  height: 10rem;
  width: 15rem;
}
.business-name-caption {
  margin-left: 7px;
  padding: 4px;
  font-size: 30px;
  font-weight: 550;
}
.business-name-caption:hover {
  text-decoration: underline;
}
.business-captions {
  margin-bottom: 5px;
  margin-left: 11px;
  font-size: 16px;
  font-weight: 400;
}

.business-descriptions-hp{
 
  margin-left: .4rem;
  color: rgb(125,127,129);
}
.detailsAndComment{
  display:flex;
  align-items: center;
  margin-left:.6rem;
  margin-bottom:.5rem;
  margin-top:.5rem;
}
.descriptionAndComment{
  height:.8rem;
  width:.7rem;
  object-fit:fill;
  margin-left:2px;
  margin-top:-2.1rem;
}
.home-takeout-pic{
  padding-top: .5rem;
  margin-bottom:-.7rem;
}




















.footer-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 10pt;
  
    height: 50px;
    width: 100%;
  
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
  }
  .text-for-github{

    font-size: 10pt;
    text-decoration: underline;
    color: white;
  }

  .ourRepo{
    background-color: black;
    height:16px;
    width:16px;
    float:right;
    color:white;
    margin-bottom:2px;
    text-decoration: underline;
    padding-right: 4px;
  
  }



  


