.homepage-container {
  display: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hp-slideShowPic {
  height: 25rem;
  /* max-height: 400px; */
  width: 100%;
  object-fit: cover;
}

.hp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 3rem; */
  font-size: 2.5rem;
  font-weight: bold;
  color: orange;
  margin-bottom: 1rem;
}
.hp-header-ngl{
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  font-weight: bold;
  color: orange;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}
.business-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* border: solid .2rem  red; */
}
.about-details{
  height:3rem;
  width: 30rem;
  color: orange;
  display:flex;
  align-items: center;
  justify-content: center;
  /* box-sizing: border-box;
  border: 1px solid lightgray; */
  /* margin-top: 2rem; */
}


.business-wrapper {
  display: flex;
  /* flex-wrap: flex; */
  flex-direction: row;
  
  width: 90rem;
  height: 100%;
  margin-bottom: 5rem;
  margin-top: -4rem;
}
.business-results-containers{
  margin-top: 5rem;
}
.singleBusinessContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.single-image {
  height: 10rem;
  width: 15rem;
  object-fit: cover;
  
}
.business-name-caption {
  margin-left: 7px;
  padding: 4px;
  font-size: 30px;
  font-weight: 550;
  color:black;
}
.business-name-caption:hover {
  text-decoration: underline;
}
.business-captions {
  margin-bottom: 5px;
  margin-left: 11px;
  font-size: 16px;
  font-weight: 400;
}

.business-descriptions-hp{
  width:40rem;
  height:5rem;
  margin-left: .4rem;
  color: rgb(125,127,129);
  word-wrap: break-word;
}
.detailsAndComment{
  display:flex;
  align-items: center;
  margin-left:.6rem;
  margin-bottom:.5rem;
  margin-top:.5rem;
}
.descriptionAndComment{
  height:.8rem;
  width:.7rem;
  object-fit:fill;
  margin-left:2px;
  margin-bottom:3.6rem;
}
.home-takeout-pic{
  padding-top: .5rem;
  margin-bottom:-.7rem;
}
.detailsAndHeader{
  display:flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(2,0,36,0.6629026610644257) 75%, rgba(0,0,0,0.18391106442577032) 100%);
  padding: 1.5rem;
  position: absolute;
  bottom: 37.4rem;
  width: 96%;
  height: 4rem;
  align-items: center;
  justify-content: center;
}



/* ----------------------------------------------CATEGORY & PRICE FILTERS-------------------------------------------------------- */

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.filter-header{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.price-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  width: 17rem;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 20px;
}

.price-filter-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10rem;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0;
}

.filter-price-buttons-first {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid gray;
}

.filter-price-buttons-mid {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid gray;
}

.filter-price-buttons-last {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-price-buttons-first:hover {
  background: lightgray;
  color: white;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
}

.filter-price-buttons-mid:hover {
  background: lightgray;
  color: white;
  cursor: pointer;
}

.filter-price-buttons-last:hover {
  background: lightgray;
  color: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.price-active-filter-bg-first {
  background: orange;
  color: white;
  border-radius: 10px 0px 0px 10px;
}

.price-active-filter-bg-mid {
  background: orange;
  color: white;
}


.price-active-filter-bg-last {
  background: orange;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

.type-filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 16rem;
  height: 15rem;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.clear-filter-buttons-inactive {
  display: flex;
  justify-content: right;
  color: lightgray;
  pointer-events: none;
}

.clear-filter-buttons-active {
  display: flex;
  justify-content: right;
  color: orange;
}

.clear-filter-buttons-active:hover {
  cursor: pointer;
  text-decoration: underline;
}

.type-filter-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 18rem;
}

.filter-type-buttons {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
}

.filter-type-buttons:hover {
  background: lightgray;
  cursor: pointer;
}

.type-active-filter-bg {
  background: orange;
  border: 1px solid orange;
}

.fa-check{
  color: white;
}

.restraunt-filter-no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 40rem;
  border-radius: 5px;
}

.logo-PNF{
  height: 8rem;
  width: 12rem;
}









/* -----------------------------------------------------FOOTER------------------------------------------------------------- */

.footer-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 10pt;
  
    height: 50px;
    width: 100%;
  
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
  }
  .text-for-github{

    font-size: 10pt;
    text-decoration: underline;
    color: white;
  }

  .ourRepo{
    background-color: black;
    height:16px;
    width:16px;
    float:right;
    color:white;
    margin-bottom:2px;
    text-decoration: underline;
    padding-right: 4px;
  
  }
  .linkedin{
    background-color: black;
    height:13.5px;
    width:14px;
    color:white;
    text-decoration: underline;
    margin-top: -10px;
  
  }



  
/* ----------------------------if not user ------------------------------------ */

.nlg-business-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
}

.oneBusinessContainer{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.-nlg-hp-slideShowPic{
  height: 24.5rem;
  /* max-height: 500px; */
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.create-business-quote{
  /* z-index: 3; */
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: orange;
  height: 3rem;
  border-top: 1px solid black;
  background: linear-gradient(90deg, rgba(2,0,36,0.6629026610644257) 75%, rgba(0,0,0,0.18391106442577032) 100%);
  /* background-color: 	#fffdd0 */

}