.CreateComment-outer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height:20rem;
    flex-direction: column;
}

.submitCreateComment{
    background-color: #E00707;
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .4em;
    min-width: 9em;
    cursor: pointer;
    margin-top: 3.5rem;
    margin-right: 10em;
    /* margin-bottom: 0.7em; */
    /* margin-left: 2em; */
}

.descriptionCreateComment{
/* margin-top: .5rem; */
display:flex;
/* margin-bottom: 3rem; */
width: 22rem;
height: 4rem;
/* padding-top: 1rem; */

}

.ratingCreateComment{
margin-top: .5rem;
display:flex;
justify-content: center;
flex-direction: column;
width: 10rem;
height:auto;
/* padding-top: 1rem; */
}

.ErrorPoints {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



.star-wrapper {
    top: 50%;
    left: 50%;
    direction: rtl;
}

.star-wrapper a {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
    text-decoration: none;
    transition: all 0.5s;
    margin: 0 .2rem;
}

.star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
    cursor: pointer;
}

.s1:hover~a {
    color: gold;
}

.s1::after~a {
    color: gold;
}

.s2:hover~a {
    color: gold;
}

.s3:hover~a {
    color: gold;
}

.s4:hover~a {
    color: gold;
}

.s5:hover~a {
    color: gold;
}

.wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
