form.edit-form-update {
   display:flex;
   align-items: center;
    height: 15rem;
    width: 30rem;
    flex-direction: column;
}



.edit-review-input{
    margin-bottom: -3rem;
    border-color: black;
    color:black;
    width: 23rem;
    margin-left: 5rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
  
       
      
    
}
.edit-review-input2{
    margin-bottom: -3rem;
    border-color: black;
    color:black;
    width: 23rem;
    margin-left: 5rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    word-wrap:break-word
  
}

.submit-button-edit-review{
    margin-top:1rem;
    color: white;
    background-color: red;
    border-radius: .4em;
    height: 2rem;
    width: 10rem;
    margin-left: 9rem;
    cursor: pointer;


}

