form.edit-form-update {
   display:flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
    height: 20rem;
    width: 33rem;
}

.text-rating-edit{
display:flex;
align-items: center;

}


.edit-review-input{
    margin-bottom: -3rem;
    border-color: black;
    color:black;
    width: 23rem;
    margin-left: 5rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
  
    
}
.edit-review-input2{
    margin-bottom: -3rem;
    border-color: black;
    color:black;
    width: 23rem;
    margin-left: 5rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    word-wrap:break-word
  
}

.edit-review-errors{
    padding-top:.2rem;
    padding-bottom: .2rem;
    color: red;

}

.submit-button-edit-review{
    margin-top:1rem;
    color: white;
    background-color: red;
    border-radius: .4em;
    height: 2rem;
    width: 10rem;
    margin-left: 11rem;
    margin-bottom: .7rem;
    cursor: pointer;


}
.submitEditComment{
    background-color: #E00707;
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .4em;
    width: 9rem;
    cursor: pointer;
    margin-top: 2.0rem;
   
}


